/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button{
  border: 0 none;
  background-color: inherit;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
body, button, a{font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;}
img{display:block;}


.main{overflow:hidden;position:relative;height:100vh;background:#FFB7DE url('images/dot.png');}
.wrap_letter{position:absolute;top:42%;left:50%;transform:translateX(-50%) translateY(-50%);z-index:9999;}
.wrap_letter .envelop{position:relative;width:300px;height:300px;background:url('images/img_letter.png')no-repeat center/cover;}
.wrap_letter .envelop::after{position:absolute;bottom:30px;left:50%;z-index:10;transform:translateX(-50%);width:214px;height:150px;background:url('images/img_letter_on.png')no-repeat center/contain;content:'';}
.wrap_letter .envelop .letter{overflow:hidden;position:absolute;top:82px;left:50%;transform:translateX(-50%);width:185px;height:170px;padding:20px;border-radius:7px;background-color:#fff;box-shadow:0 0 10px rgba(0,0,0,.1);box-sizing:border-box;}
.wrap_letter .envelop .letter .btn_click{display:block;width:100%;font-size:22px;font-weight:700;text-align:center;margin-top:-10px;padding:10px 0;color:#007BFF}
.letter .cont{width:100%;opacity:0;}

.cursor{display:block;position:absolute;top:100px;right:45px;z-index:20;width:30px;height:50px;transform:rotate(-45deg);background:url('images/img_cursor.png')no-repeat center/contain;animation: bounce .6s linear infinite}
.yeji{position:absolute;bottom:47px;left:50%;transform:translateX(-50%);z-index:10000}
.rolling{position:absolute;width:100%;bottom:0;height:50px;background-color:#000;overflow:hidden;}
.rolling .inner{width:100%;display:flex;white-space:nowrap;animation: marquee 2s linear infinite}
.rolling .inner span{display:flex;align-items:center;font-size:30px;line-height:50px;color:#fff;animation: colorChange 1s linear infinite}
.rolling .inner span:nth-of-type(even){animation-delay:.3s;}
.rolling .inner span .cursor{position:static;animation:none;margin:0 8px}
.bg_choonsik{transform:translateX(-30px);}
.wrap_choonsik{position:relative;height:100%;}
.choonsik{position:absolute;top:-90px;left:0;animation: fall 2s linear infinite, sideway .3s linear infinite, turn .5s linear infinite;transform-origin:center;}
.wrap_choonsik:nth-of-type(2){transform:translateX(20%);}
.wrap_choonsik:nth-of-type(3){transform:translateX(30%);}
.wrap_choonsik:nth-of-type(4){transform:translateX(40%);}
.wrap_choonsik:nth-of-type(5){transform:translateX(50%);}
.wrap_choonsik:nth-of-type(6){transform:translateX(60%);}
.wrap_choonsik:nth-of-type(7){transform:translateX(70%);}
.wrap_choonsik:nth-of-type(8){transform:translateX(80%);}
.wrap_choonsik:nth-of-type(9){transform:translateX(90%);}
.sub_txt{margin-top:10px;font-size:12px;color:#ddd}

.wrap_choonsik:nth-of-type(1) .choonsik{animation-delay:.8s;}
.wrap_choonsik:nth-of-type(2) .choonsik{animation-delay:.4s;}
.wrap_choonsik:nth-of-type(3) .choonsik{animation-delay:2.2s;}
.wrap_choonsik:nth-of-type(4) .choonsik{animation-delay:.6s;}
.wrap_choonsik:nth-of-type(5) .choonsik{animation-delay:1.8s;}
.wrap_choonsik:nth-of-type(6) .choonsik{animation-delay:0s;}
.wrap_choonsik:nth-of-type(7) .choonsik{animation-delay:1.2s;}
.wrap_choonsik:nth-of-type(8) .choonsik{animation-delay:1s;}
.wrap_choonsik:nth-of-type(9) .choonsik{animation-delay:1.6s;}

.main.on .wrap_letter{transform: none;}
.main.on .wrap_letter, .main.on .wrap_letter .envelop{position:static;}
.main.on .wrap_letter .envelop{background:none;height:auto}
.main.on .wrap_letter .envelop::after{display:none;}
.main.on .wrap_letter .envelop .letter{position:fixed;top:20px;z-index:10;max-width:400px;animation: letterOn .2s linear forwards, borderChange .3s linear infinite}
.main.on .rolling, .main.on .yeji{display:none;}
.main.on .bg_choonsik{transform:translateX(-30px);}
.main.on .letter .btn_click, .main.on .cursor{display:none;}
.main.on .letter .cont{display:block;text-align:center;opacity:1;}
.main.on .letter{display: flex;align-items: center;justify-content: center;border: 10px solid #fff;}
.letter .cont .title{font-size:24px;font-weight:700;}
.letter .cont .info{margin-top:20px;padding:10px;border-radius:5px;background-color:#f5f5f5;}
.letter .cont .info p{font-size:16px;font-weight: 700;}
.letter .cont .info p + p{margin-top:10px}
#map{width:280px;height:300px;margin:20px auto 0;border:3px solid #FFDF75;box-sizing:border-box}
.info_layer{padding:10px;border-radius:10px;border:1px solid #ddd;background-color:#fff;transform:translateY(-90px)}
.tit_place{display:block;font-weight:bold;text-align:center}
.wrap_button{margin-top:10px}
.wrap_button a{padding:5px 10px;border-radius:20px;font-size:12px;font-weight:bold;line-height:30px;color:#333;background-color:#eee;text-decoration:none}
.star{display: inline-block;animation: colorChange .1s linear infinite}

.yeji2{position:absolute;z-index:999;transform:rotate(70deg);top:60px;left:-100px;display:none;animation: yejiS .7s .2s linear infinite;}
/* .yeji2.midium{transform:rotate(-70deg);top:155px;left:auto;right:-140px;animation: yejiM .7s .8s linear infinite;}
.yeji2.big{transform:translateX(-50%);top:auto;left:50%;bottom:-200px;animation: yejiB .7s 1s linear infinite;} */

.main.on .yeji2{display:block;}
    

@keyframes yejiS{
  0%{left:-100px}
  50%{left:-20px}
  100%{left:-100px}
}
@keyframes yejiM{
  0%{right:-100px}
  50%{right:-24px}
  100%{right:-100px}
}

@keyframes yejiB{
  0%{bottom:-120px}
  50%{bottom:0px}
  100%{bottom:-120px}
}
@-webkit-keyframes yejiS{
  0%{left:-100px}
  50%{left:-20px}
  100%{left:-100px}
}
@-webkit-keyframes yejiM{
  0%{right:-100px}
  50%{right:-24px}
  100%{right:-100px}
}

@-webkit-keyframes yejiB{
  0%{bottom:-120px}
  50%{bottom:0px}
  100%{bottom:-120px}
}


@keyframes bounce{
  0%{right:45px}
  50%{right:55px}
  100%{right:45px}
}

@keyframes marquee {
  from { transform: translateX(0%); }
  to { transform: translateX(-100%); }
}

@keyframes colorChange {
  0%{color:red}
  20%{color:orange}
  40%{color:yellow}
  60%{color:green}
  80%{color:blue}
  100%{color:purple}
}
@keyframes borderChange {
  0%{border-color:red}
  20%{border-color:orange}
  40%{border-color:yellow}
  60%{border-color:green}
  80%{border-color:blue}
  100%{border-color:purple}
}
@-webkit-keyframes bounce{
  0%{right:45px}
  50%{right:55px}
  100%{right:45px}
}

@-webkit-keyframes marquee {
  from { transform: translateX(0%); }
  to { transform: translateX(-100%); }
}

@-webkit-keyframes colorChange {
  0%{color:red}
  20%{color:orange}
  40%{color:yellow}
  60%{color:green}
  80%{color:blue}
  100%{color:purple}
}

@keyframes fall{
  0%{top:-50px}
  100%{top:100vh}
}
@keyframes sideway{
  0%{left:0}
  50%{left:20px}
  100%{left:0}
}
@keyframes turn{
  0%{transform:rotate(0);}
  100%{transform:rotate(360deg);}
}

@keyframes letterOn{
  0%{width:180px;height:170px;}
  100%{width:calc(100vw - 40px);height:calc(100vh - 40px);}
}
@-webkit-keyframes fall{
  0%{top:-50px}
  100%{top:100vh}
}
@-webkit-keyframes sideway{
  0%{left:0}
  50%{left:20px}
  100%{left:0}
}
@-webkit-keyframes turn{
  0%{transform:rotate(0);}
  100%{transform:rotate(360deg);}
}

@-webkit-keyframes letterOn{
  0%{width:180px;height:170px;}
  100%{width:calc(100vw - 40px);height:calc(100vh - 40px);}
}

